.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => "15382"}
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
        - @group.users.each do |user|
          = user.name
          
    .main-header__edit-btn 
      = link_to "Edit", edit_group_path(@group.id)
    -# = link_to "#", class: "edit__btn"
    
  .messages
    = render @messages


  
  .form
    = form_for [@group, @message] do |f|
      .form__input
        = f.text_field :content, class: 'form__input__box', placeholder: 'type a message'
        = f.label :image, class: 'form__input__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__input__image__input'
      = f.submit 'Send', class: 'form__submit'